:root {
    --black: black;
    --white: white;
    --blueviolet: blueviolet;
}

body {
    background-color: var(--white);
    transition: background-color 2.0s ease;
    color: var(--black);
    font-size: 25px;
}

.dark-mode {
    background-color: var(--black);
    transition: background-color 0.5s ease;
    color: var(--blueviolet);
}